* {
    box-sizing: border-box;
}

.sideNavPalmBackground {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-image: url(../images/montage_cal_bgpic.jpg);
}

.puzzlePieceIcon {
    color: #03a9f4;
}

body {
    /* background-image: url(../images/blue_white_brick.jpeg); */
    background-image: url(../images/white_brick.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    Font-Family: 'Cabin', Sans-Serif;
}


nav.navCenter ul {
    text-align: center;
}
nav.navCenter ul li {
    display: inline;
    float: none;
}
nav.navCenter ul li a {
    display: inline-block;
    cursor: pointer;
}


.headerName,
.headerTitle,
.headerTag {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    font-weight: 700px;
}

.headerName {
    font-size: 72px;
}

.headerTitle {
    font-size: 40px;
}

.headerTag {
    font-size: 84px;
}

.headerAbout {
    font-size: 50px;
    text-align: center;
}

.headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 20px;
}

.aboutText {
    letter-spacing: 1px;
    line-height: 150%;
    font-size: 16px;
    margin: 10px;
}

a {
    color: inherit;
}