* {
    box-sizing: border-box;
}

.sideNavPalmBackground {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-image: url(../images/montage_cal_bgpic.jpg);
}

.puzzlePieceIcon {
    color: #03a9f4;
}

body {
    /* background-image: url(../images/blue_white_brick.jpeg); */
    background-image: url(../images/white_brick.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    Font-Family: 'Cabin', Sans-Serif;
}

.container {
    width: 80%;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.navCenter {
    background: #03a9f4;
    background: linear-gradient(45deg, #03a9f4, #55C8FD);
}

nav.navCenter ul {
    text-align: center;
}
nav.navCenter ul li {
    display: inline;
    float: none;
}
nav.navCenter ul li a {
    display: inline-block;
    cursor: pointer;
}


.headerName,
.headerTitle,
.headerTag {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    font-weight: 700px;
}

.headerName {
    font-size: 72px;
}

.headerTitle {
    font-size: 40px;
}

.headerTag {
    font-size: 84px;
}

.headerAbout {
    font-size: 50px;
    text-align: center;
}

.headerSubAbout {
    font-size: 35px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.portRow {
    margin-bottom: 0;
}

.headshot {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10px;
    /* margin-right: 20px; */
    margin-bottom: 0;
}

.aboutText {
    letter-spacing: 1px;
    line-height: 130%;
    font-size: 20px;
    margin: 15px;
}

.aboutEmail {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

a {
    color: inherit;
}

.socialIcon {
    color: #03a9f4;
}

.contactSocialIcon {
    color: #03a9f4;
    margin-bottom: 18px;
}

#contactFormSubmitBtn {
    background: #03a9f4;
    border-radius: 25px;
}


/* CONTACT FORM STYLING */
  .input-field label {
    color: #000;
    font-size: 20px;
  }

  .input-field input[type=text]:focus + #first_nameLabel,
  .input-field input[type=text]:focus + #last_nameLabel,
  .input-field input[type=email]:focus + #emailLabel,
  .input-field textarea[id=contactMessage]:focus + #messageLabel {
    color: #03a9f4;
  }

  #first_name:focus,
  #last_name:focus,
  #email:focus,
  #contactMessage:focus {
    border-bottom: 1px solid #03a9f4;;
    box-shadow: 0 1px 0 0 #03a9f4;;
  }

  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }


  /* Hover shake is copied from https://www.w3schools.com/howto/howto_css_shake_image.asp */
  .contactSocialIcon:hover,
  .socialIcon:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}